<?xml version="1.0" ?>
<odoo>
    <data>
        <!--Contact us-->
        <record id="menu_contact_cim" model="website.menu">
            <field name="name">Contact us</field>
            <field name="parent_id" ref="website.main_menu"/>
            <field name="sequence" type="int">91</field>
        </record>
    </data>
</odoo>