body{
    background: rgb(6,56,80);
    background: radial-gradient(circle at center,rgba(51,129,168,1) 0, rgba(6,56,80,1) 100%);
    font-family:$font-cairo;
    color:#ffffff;
}

a{
    color:#ffffff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
     font-family:$font-cairo;
     font-weight:bold;
}

.color-blue-4{
    color:$color-blue-4!important;
}

.fa.rounded-circle, .fa.rounded-empty-circle, .fa.rounded, .fa.rounded-0, .fa.rounded-leaf, .fa.img-thumbnail, .fa.shadow {
    width: 26px;
    height: 26px;
    line-height: 26px;
    background-color: #ffffff;
}
.navbar-brand, .navbar-text, .navbar .nav-link ,.navbar{
    font-family:$font-cairo;
}
.tree-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.o_cc .dropdown-menu .dropdown-item, .o_cc .dropdown-menu .dropdown-item h6, .o_colored_level .o_cc .dropdown-menu .dropdown-item, .o_colored_level .o_cc .dropdown-menu .dropdown-item h6 {
    color: #ffffff !important;
}

.lh28 p{
    line-height:28px!important;
}

.row-10{
    margin-right: -10px;
    margin-left: -10px;
    [class*='col-']{
        padding-right: 10px;
        padding-left: 10px;
    }
}
.border-radius-12{
    border-radius:12px;
}

.owl-carousel{
    direction: ltr!important;
}
.text-12{
    font-size:12px!important;
}