.hr_title_horizontal{
    &:after{
        content:'';
        display:block;
        width:40px;
        border-top: 3px solid;
        margin-top:5px;
    }
    &.text-center{
       &:after{
        margin-left:auto;
        margin-right:auto;
       }
    }
}
.hr_title_vertical{
    padding-left:10px;
    position:relative;
    &:before{
        content:'';
        display:block;
        border-left: 3px solid;
        position:absolute;
        left:0;
        top:0;
        height:100%;
    }
}

.box_style_1{
    min-height:190px;
    text-decoration:none!important;
    position:relative;
    height:100%;
    background-color:$color-blue-2;
    border-radius:16px;
    box-shadow: 0 0 12.5px rgba(0,0,0,0.1);
    padding:calc(1rem + 1vw);
    @include transition-05;
    p{
        font-size:14px;
    }
    img{
        max-width:65px;
        height:auto;
        border-radius: 50%;
        padding: 10px;
        background-color:$color-blue-2;
    }
    &:before{
        content:'';
        display:block;
        border-bottom:1px solid;
        border-right:1px solid;
        border-color:$color-blue-2;
        border-bottom-right-radius:16px;
        position:absolute;
        bottom:-8px;
        right:-8px;
        width:90%;
        height:90%;
        background-color:transparent;
        @include transition-05;
    }
    &:hover{
        background-color:#FFFFFF;
        color:$color-blue-2;
        *{
            color:$color-blue-2;
        }
        &:before{
            border-color:#FFFFFF;
        }
    }
}

/* acme-news-ticker */
.acme-news-ticker{
    background-color:#FFFFFF;

    .acme-news-ticker-box{
        position:relative;
        height:70px;
        overflow:hidden;
        padding:10px 0;
        .acmeticker-wrap{
            position:absolute!important;
            top:0;
            left:0;
            width:100%;
            height:100%;
            .my-news-ticker{
                height:100%;
            }
        }
        .acme-news-ticker-label{
            color:$color-blue-3;
            font-size: 15px;
            font-weight: 700;
            position:relative;
            z-index:1;
            background-color:#ffffff;
            padding-right:8px;
            &:after{
                content:'';
                display:inline-block;
                border-left: 2px solid $color-blue-3;
                background-color:#ffffff;
                position:absolute;
                top:0;
                left:100%;
                width:8px;
                height:100%;
            }
        }
        .my-news-ticker{
            margin-bottom:0;
            a{
                font-size: 15px;
                color: #000000;
                text-decoration:none!important;
            }
            li{
                padding:0 8px;
                border-right: 2px solid $color-blue-3;
                margin:0!important;
            }
        }
    }
}

/***************progressbar*********************/
.skill-part{
    .skill-item{
        h6{
            position:absolute;
            top:40px;
            left:0;
            width:100%;
            text-align:center;
            font-weight:600;
        }
        .sk-name{
            display:block;
            text-align:center;
            font-weight:600;
            font-size:16px;
            margin:15px 0 5px;
        }
    }
    canvas{
        display:block;
        text-align:center;
        margin: auto;
    }
}

/* carousel-partners */
.carousel-partners{
    .item{
        text-align:center;
        img{
            display:block;
            max-height:50px;
            max-width:100%;
            width:auto;
            height:100%;
            margin: auto;
            filter: grayscale(1);
            -webkit-filter: grayscale(1);
            @include transition-05;
        }
        &:hover{
            img{
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
            }
        }
    }
}

/*o_logo_cim*/
.o_logo_cim{
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    img{
        width:50px;
        height:50px;
    }
    .o_solgon{
        margin-left:8px;
        border-left: 2px solid;
        padding:4px 0 4px 10px;
        h4{
            color: #ffffff;
            font-weight: 400;
            margin-bottom:0;
            font-weight:400;
            font-size:20px;
            @media(max-width:767.98px){
                font-size:18px;
            }
        }
        h6{
            font-weight:400;
            font-size:12px;
            margin-bottom:0;
        }
    }
}








/*****************/
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

.o_carousel_news{
    .carousel-item{
        min-height:360px;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        .content_item{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index:2;
            .container{
                padding-left:4%;
                padding-bottom:20px;
            }
        }
    }
    .carousel-control-prev, .carousel-control-next{
        bottom:auto;
        width:22px;
        height:22px;
        background-color:$color-blue-4;
        box-shadow: 0 0 12.5px rgba(0,0,0,0.1);
        border-radius:6px;
        top:50%;
        font-size:10px;
        opacity:1;
        transform:translateY(-50%);
    }

    .carousel-control-next{
        right:calc((100% - 1140px + 15px)/2);
    }
    .carousel-control-prev{
        left:calc((100% - 1140px + 15px)/2);
    }
}


/***********box_news*************/
.o_latest_news{
    @media(min-width:576px){
        .row{
            margin-left:-5px;
            margin-right:-5px;
            [class*='col-']{
                padding-left:5px;
                padding-right:5px;
            }
        }
    }
    [class*='col-']{
        overflow: hidden;
    }
    .row{
        .box_latest_news{
            margin-top:5px;
            margin-bottom:5px;
            min-height:200px;
        }
        .row{
            .box_latest_news{
                height:200px;
                .title_latest_news{
                    font-size:15px;
                }
            }
        }
    }
}
.box_latest_news{
    position:relative;
    height:100%;
    overflow:hidden;
    .cover_latest_news{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        @include transition-05;
        border:2px;
        box-shadow:0 3 10 rgba(0,0,0,0.1);
        z-index:-1;
        &:before{
            content:'';
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            @include transition-05;
            opacity:0.7;
            background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1));
            z-index:1;
        }
    }
    .title_latest_news{
        font-size:17px;
    }
    .content_latest_news{
        @include transition-05;
        padding:10px;
        z-index:2;
        p{
            font-size:12px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
            color:white!important;
        }
        .short_desc{
            color:white!important;
            *{
                color:white!important;
            }
        }
    }
    &:hover{
        .cover_latest_news{
            transform:scale(1.2);
            &:before{
                opacity:1;
            }
        }
        .content_latest_news{
            transform:translateY(-10%);
        }
        *{
            color:white;
            text-decoration:none;
        }
    }

}
.categ_box{
    padding-left:10px;
    font-size:14px;
    font-weight:400;
    border-left:3px solid #F9B40E;
}
.date_box{
    font-size:14px;
    font-weight:400;
    .fa{
        padding-right:8px;
        font-size:16px;
    }
}
/********card-cim**************/
.card.card-cim{
    background-color:$color-blue-2;
    box-shadow:0 0 3.5px rgba(0,0,0,0.16);
    [class*='col-']:first-child{
        @media(max-width:767.9px){
            height:200px;
        }
    }
    .card-img{
        position:absolute;
        top: 15px;
        bottom: 15px;
        left: 30px;
        right: 0;
        width:95%;
        background-size: cover;
        background-position:center;
        background-repeat:no-repeat;
        @media(max-width:767.9px){
            left:0;
            margin:auto;
            width:87%;
        }
    }
    .card-body{
        background-color:transparent!important;
        color:#ffffff;
        .text-muted{
            color:#ffffff!important;
        }
        h5,p{
            max-width:85%;
        }
        .wishlist_most_discussed{
            position:absolute;
            top:18px;
            right:30px;
            font-size:15px;
        }
        a{
            color:#ffffff;
        }
    }

}

/************* pagination *************/
.pagination{
    .page-item{
        &:not(.disabled){
            .page-link{
                color:$color-blue-2;
            }
        }
        .page-link{
            border:0!important;
            margin-left:5px;
            margin-right:5px;
            border-radius: 5px;
            font-size:16px;
        }
        &.active{
            .page-link {
                background-color: $color-blue-2;
                border-color: $color-blue-2;
                color:#ffffff;
            }
        }
    }
}


/*  box-service */
.box-service{
    border-radius: 5px;
    background-size:cover;
    -webkit-background-size:cover;
    background-size:center;
    position:relative;
    padding:30px 30px 60px;
    &:before{
        content:'';
        display:block;
        background-color:rgba($color-blue-2,0.9);
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:1;
    }
    *{
        position:relative;
        z-index:2;
    }
    p{
        font-size: 14px;
    }
    .btn{
        position:absolute;
        left:10px;
        right:10px;
        bottom:10px;
        width:auto;
    }
}

.faq-list{
    .faq{
        padding-left:15px;
        position:relative;
        &:before{
            content:'•';
            display:inline-block;
            color:#f9b40e;
            position:absolute;
            left:0;
            top: 2px;
        }
        /*p{
            color:#c8c8c8;
        }*/
        ul{
            list-style: none;
           padding-left: 0;
           li{
            position:relative;
            padding:5px 5px 5px 15px;
               &:before{
                    content:'-';
                    display:inline-block;
                    color:#f9b40e;
                    position:absolute;
                    left:0;
                    top: 4px;
                }
            }
        }
    }
}

.download{
    white-space: nowrap;
    font-size:14px;
    color:#ffffff!important;
    text-decoration:none!important;
    font-weight:600;
    img{
        width:20px;
        height:auto;
    }
}
.icon-file{
    background-color:$color-blue-3;
    width:37px;
    height:37px;
    border-radius:5px;
      display: flex;
      align-items: center;
      justify-content: center;
    img{
        fill:white;
        width:50%;
    }
}
.oe_search_box{
    margin:0 10px;
    & + .input-group-append{
        margin:0 10px;
    }
}

/**/
.nav-pills{
    .nav-link{
        font-size:18px;
        font-weight: 600;
        color: #b9b9b9;
        &.active{
            color:#ffffff;
            background-color:rgba(255,255,255,0.36);
        }
    }
    + .tab-content{
        min-height:280px;
    }
}
.text-content-empty{
    font-size:18px;
    font-weight: 600;
    color: #b9b9b9;
}
.section_announcements{
    .box_latest_news{
        height:280px;
    }
}

.information_contact{
    font-size:18px;
    background-color:$color-secondary;
    height:100%;
    padding:8%;
    border-radius:5px;
    > div{
        padding:18px 0;
    }
    .fa{
        color:$color-secondary;
        font-size:14px;
    }
}

.s_image_gallery_electronic_government{
    padding:0 10px 0;
    ul.carousel-indicators > *{
        width:11px!important;
        height:11px!important;
        flex: 0 0 11px!important;
    }
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-item.active,
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-item-next,
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-item-prev,
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-control-next,
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-control-prev{
            padding-bottom: 45px;
    }
    &:before{
        content:"";
        display:block;
        background-color:rgba(0,0,0,.31);
        position: absolute;
        left: 0;
        width: 100%;
        height: 80%;
        bottom: 0;
    }
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel ul.carousel-indicators li{
        border: 2px solid #ffffff;
        &.active{
            background-color:$color-blue-3;
        }
    }
}

.s_image_gallery_cybersecurity{
    position:relative;
    &.s_image_gallery_cybersecurity ul.carousel-indicators {
        bottom:70px!important;
        margin-bottom:0;
        & > *{
            width:11px!important;
            height:11px!important;
            flex: 0 0 11px!important;
        }
    }
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel ul.carousel-indicators li{
        border: 2px solid #ffffff;
        &.active{
            background-color:$color-blue-3;
        }
    }
    .carousel-item {
        .img{
            background-size:cover;
            background-position:center;
        }
    }
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-item.active,
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-item-next,
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-item-prev,
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-control-next,
    &.s_image_gallery[data-vcss="001"].o_slideshow .carousel .carousel-control-prev{
            padding-bottom: 0px;
    }
}


/*box-info-contact*/
.box-info-contact{
    background-color:$color-blue-1;
    border-radius:12px;
    padding:60px 20px 50px;
    * {
        color:white!important;
    }
}

/*box_team*/
.box_team{
    .photo_team{
        width:80px!important;
        height:80px!important;
        margin-right:15px;
        border-radius:5px;
        box-shadow:0 0 10px rgba(255,255,255,0.16);
    }
}
.carousel-team{
    padding-top:30px;
    &.owl-theme .owl-nav {
        position:absolute;
        bottom:100%;
        right:0;
        margin-top:0;
        [class*=owl-]{
            background-color:rgba(255,255,255,0.40);
            border-radius:5px;
            padding:5px 11px!important;
        }
    }
}


/*company_partners_modal*/
.company_partners_modal{
    .logo_partner{
        max-width:100px;
    }
    .modal-body{
        padding: 10px 40px 30px;
    }
    .link_partner{
        color:$color-blue-3!important;
    }
    .modal-header{
        border-bottom:0;
    }
}