<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu CIM Root -->
        <menuitem name="الهيئة العامة للإتصالات و المعلوماتية"
                  id="cim_menu_root"
                  sequence="9"
                  groups="base.group_user"
                  web_icon="theme_cim,static/description/icon.png"/>

        <menuitem id="cim_home_menu" name="الرئيسية"
                  sequence="1"
                  parent="cim_menu_root"/>

        <menuitem id="cim_company_partners_menu" name="الجهات التابعة"
                  sequence="1"
                  parent="cim_home_menu"
                  action="company_partners_action"/>

        <!--عن الهيئة-->
        <menuitem id="cim_aboutus_menu" name="عن الهيئة"
                  sequence="2"
                  parent="cim_menu_root"/>

        <menuitem id="cim_strategy_menu" name="الاستراتيجية"
                  sequence="1"
                  parent="cim_aboutus_menu"
                  action="strategy_action"/>

        <menuitem id="cim_reports_menu" name="التقارير"
                  sequence="1"
                  parent="cim_aboutus_menu"
                  action="reports_action"/>

        <menuitem id="cim_teams_menu" name="الطاقم التنفيذي"
                  sequence="2"
                  parent="cim_aboutus_menu"
                  action="teams_action"/>

        <menuitem id="cim_decisions_menu" name="القرارات"
                  sequence="3"
                  parent="cim_aboutus_menu"
                  action="decisions_action"/>

        <!--================================-->
        <!--==Announcements==-->
        <menuitem id="cim_announcements_menu" name="الإعلانات"
                  sequence="3"
                  parent="cim_menu_root"/>
        <!--Public announcements-->
        <menuitem id="cim_public_announcements_menu" name="الإعلانات العامة"
                  sequence="1"
                  parent="cim_announcements_menu"
                  action="public_announcements_action"/>
        <!--obs-->
        <menuitem id="cim_available_jobs_menu" name="الوظائف المتاحة"
                  sequence="2"
                  parent="cim_announcements_menu"
                  action="jobs_action"/>
        <!--Bids-->
        <menuitem id="cim_bids_menu" name="العطاءات"
                  sequence="3"
                  parent="cim_announcements_menu"
                  action="bids_action"/>

        <!--================================-->
        <!--==Our business==-->
        <menuitem id="cim_our_business_menu" name="أعمالنا"
                  sequence="4"
                  parent="cim_menu_root"/>
        <!--Organization of communications-->
        <menuitem id="cim_organization_of_communications_menu" name="تنظيم الإتصالات"
                  sequence="1"
                  parent="cim_our_business_menu"/>
        <!--Bids-->
        <menuitem id="cim_numbering_and_added_services_menu" name="الترقيم والخدمات المضافة"
                  sequence="1"
                  parent="cim_organization_of_communications_menu"
                  action="numbering_models_action"/>

        <menuitem id="cim_call_center_menu" name="تراخيص خدمات الاتصالات"
                  sequence="2"
                  parent="cim_organization_of_communications_menu"
                  action="call_center_action"/>

        <menuitem id="cim_accreditation_devices_menu" name="الاعتماد النوعي"
                  sequence="3"
                  parent="cim_organization_of_communications_menu"
                  action="accreditation_devices_action"/>

        <menuitem id="cim_frequency_spectrum_menu" name="الطيف الترددي"
                  sequence="4"
                  parent="cim_organization_of_communications_menu"
                  action="frequency_spectrum_action"/>

        <!--electronic government-->
        <menuitem id="cim_electronic_government_menu" name="الحكومة الالكترونية"
                  sequence="2"
                  parent="cim_our_business_menu"/>
        <!--Bids-->
        <menuitem id="cim_egovernment_files_menu" name="ملفات الحكومة الالكترونية"
                  sequence="1"
                  parent="cim_electronic_government_menu"
                  action="egovernment_files_action"/>


        <!--================================-->
        <!--==المركز الإعلامي==-->
        <menuitem id="cim_news_menu" name="المركز الإعلامي"
                  sequence="5"
                  parent="cim_menu_root"
                  action="news_action"/>

        <!--================================-->
        <!--==Our business==-->
        <menuitem id="cim_contact_menu" name="إتصل بنا"
                  sequence="6"
                  parent="cim_menu_root"/>
        <menuitem id="cim_common_questions_menu" name="الأسئلة الشائعة"
                  sequence="1"
                  parent="cim_contact_menu"
                  action="common_questions_action"/>

        <!--================================-->
        <!--==Setting==-->
        <menuitem
                id="cim_config_settings_menu"
                name="الإعدادات"
                parent="cim_menu_root"
                groups="base.group_system"
                sequence="90"/>
        <!--Department-->
        <menuitem id="cim_jobs_department_menu" name="القسم"
                  sequence="1"
                  parent="cim_config_settings_menu"
                  action="jobs_department_action"/>
        <!--Decisions category-->
        <menuitem id="cim_decisions_category_menu" name="تصنيفات الإطار القانوني"
                  sequence="2"
                  parent="cim_config_settings_menu"
                  action="decisions_category_action"/>

        <!--Statistics category-->
        <menuitem id="Statistics_category_menu" name="الإحصائيات"
                  sequence="3"
                  parent="cim_config_settings_menu"
                  action="statistics_action"/>
    </data>
</odoo>