<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu CIM Root -->
        <menuitem name="CIM"
                  id="menu_cim_root"
                  sequence="9"
                  groups="base.group_user"
                  web_icon="theme_cim,static/description/icon.png"/>

        <menuitem id="menu_home_menu" name="Home"
                  sequence="1"
                  parent="menu_cim_root"/>

        <menuitem id="menu_slider_news_menu" name="Slider Home"
                  sequence="1"
                  parent="menu_home_menu"
                  action="slider_home_action"/>

        <menuitem id="menu_ticker_news_menu" name="Ticker news"
                  sequence="2"
                  parent="menu_home_menu"
                  action="ticker_news_action"/>

        <menuitem id="menu_partners_logo_menu" name="Partners Logo"
                  sequence="3"
                  parent="menu_home_menu"
                  action="partners_logo_action"/>

        <menuitem id="menu_aboutus_menu" name="About us"
                  sequence="2"
                  parent="menu_cim_root"/>

        <menuitem id="menu_teams_menu" name="Teams"
                  sequence="1"
                  parent="menu_aboutus_menu"
                  action="teams_action"/>

        <!--================================-->
        <!--==Announcements==-->
        <menuitem id="menu_announcements_menu" name="Announcements"
                  sequence="3"
                  parent="menu_cim_root"/>
        <!--Public announcements-->
        <menuitem id="menu_public_announcements_menu" name="Public announcements"
                  sequence="1"
                  parent="menu_announcements_menu"
                  action="public_announcements_action"/>
        <!--Available jobs-->
        <menuitem id="menu_available_jobs_menu" name="Available jobs"
                  sequence="2"
                  parent="menu_announcements_menu"
                  action="available_jobs_action"/>
        <!--Bids-->
        <menuitem id="menu_bids_menu" name="Bids"
                  sequence="3"
                  parent="menu_announcements_menu"
                  action="bids_action"/>
    </data>
</odoo>